.error-message
{
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.submit-btn {
  margin-top: 40px;
}

.testClass {
  font-weight: bold;
}

.imgContainer {
  height: 100%;
  background:red;
  display:block;
  margin:0 auto;
  text-align:center;
}
a {
  max-height:100%;
  width: auto;
}
img {
  max-height:100%;
  max-width:100%;
}