<ion-grid>
  <ion-row>
    <ion-col>
      <ion-header>
        <ion-toolbar color="medium">
          <ion-row>
            <ion-col>
              <ion-title color="dark">Welcome to the DUDE Exercise</ion-title>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-label color="dark">The goal is to create a responsive form that is useful in devices like mobile
                phones, tablets and desktops. Please use Bootstrap 4.</ion-label>
            </ion-col>
          </ion-row>
        </ion-toolbar>
      </ion-header>
    </ion-col>
  </ion-row>

  <ion-row row responsive-sm>
    <ion-col col col-50>
      <ion-content padding class="form-content" >
        <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>
                  Personal
                </ion-label>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating" color="dark">Name</ion-label>
                <ion-input placeholder="John Doe" type="text" formControlName="fullname"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.fullname">
              <div class="error-message"
                *ngIf="validations_form.get('fullname').hasError(validation.type) && (validations_form.get('fullname').dirty || validations_form.get('fullname').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-row>
              <ion-col>
                <ion-label position="floating" color="dark">Date of Birth</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-select formControlName="month" cancelText="Cancel" okText="OK">
                <ion-col>
                  <ion-select-option *ngFor="let month of months" [value]="month">{{month}}</ion-select-option>
                </ion-col>
              </ion-select>
              <ion-select formControlName="day" cancelText="Cancel" okText="OK">
                <ion-col>
                  <ion-select-option *ngFor="let day of days" [value]="day">{{day}}</ion-select-option>
                </ion-col>
              </ion-select>
              <ion-select formControlName="year" cancelText="Cancel" okText="OK">
                <ion-col>
                  <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
                </ion-col>
              </ion-select>
            </ion-row>
          </ion-item>


          <ion-item>
            <ion-label>
              Account
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label position="floating" color="dark">Email</ion-label>
            <ion-input type="text" placeholder="JoeDohan@dude.io" formControlName="email"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div class="error-message"
                *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
          <div formGroupName="matching_passwords">

            <ion-label position="floating" color="dark">Password</ion-label>
            <ion-item>
              <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.password">
                <div class="error-message"
                  *ngIf="validations_form.get('matching_passwords').get('password').hasError(validation.type) && (validations_form.get('matching_passwords').get('password').dirty || validations_form.get('matching_passwords').get('password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>

            <ion-label position="floating" color="dark">Verify Password</ion-label>
            <ion-item>
              <ion-input type="password" formControlName="confirm_password"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.confirm_password">
                <div class="error-message"
                  *ngIf="validations_form.get('matching_passwords').get('confirm_password').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                  <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
                </div>
              </ng-container>
            </div>
          </div>
          <!-- These validations are for the form group -->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.matching_passwords">
              <div class="error-message"
                *ngIf="validations_form.get('matching_passwords').hasError(validation.type) && (validations_form.get('matching_passwords').get('confirm_password').dirty || validations_form.get('matching_passwords').get('confirm_password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>


          <ion-item>
            <ion-label>
              Contact
            </ion-label>
          </ion-item>

          <ion-item>
            <ion-label position="floating" color="dark">Address</ion-label>
            <ion-input placeholder="938 Jackson St." type="text" formControlName="address"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.address">
              <div class="error-message"
                *ngIf="validations_form.get('address').hasError(validation.type) && (validations_form.get('address').dirty || validations_form.get('address').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating" color="dark">City</ion-label>
            <ion-input placeholder="San Diego" type="text" formControlName="city"></ion-input>
          </ion-item>
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.city">
              <div class="error-message"
                *ngIf="validations_form.get('city').hasError(validation.type) && (validations_form.get('city').dirty || validations_form.get('city').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>

          <ion-item>
            <ion-label position="floating" color="dark">State</ion-label>
            <ion-select formControlName="state" cancelText="Cancel" okText="OK">
              <ion-select-option *ngFor="let state of states" [value]="state">{{state}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button color="success" class="submit-btn" expand="full" type="submit"
            [disabled]="!validations_form.valid">Submit data</ion-button>
        </form>
      </ion-content>
    </ion-col>
    <ion-col col col-50 padding>
      <div>
        <a href="">
          <img src="https://dudeagency.io/wp-content/uploads/2017/06/DUDE-logo.png" class="img-responsive center-block">
        </a>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>