<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ionic Data</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Insert Form Data Here</p>
</ion-content>
